<div class="Full500">        
    <div class="cardTableDes">
        <div class="title">
            <h1>Aceptaste la oferta de <%= bidder.firstName %> <%= bidder.lastName %>!</h1>
            <div class="signIn">
                <h4> A continuación te presentamos sus datos para que puedas contactarlo :) </h4>
                <h3> Nombre: <%= bidder.firstName %></h3>
                <h3> Apellido: <%= bidder.lastName %></h3>
                <h3> Ubicacion: <%= bidder.location %></h3>
                <h3> Email: <%= bidder.email %></h3>
                <h3> Reputacion: <%= bidder.reputation %></h3>
            </div>
        </div>  
    </div>
</div>