<div class="Full">
  <div class="cardTable">
    <h1>Ofertas para tu
      <%= title %>
    </h1>
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Descripcion</th>
          <th>Status</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% bids.forEach (bid => { %>
        <tr>
          <td>
            <% users.forEach(user => { %>
            <% if (user.id == bid.bidderId) { %>
            <a href="<%= getUserPath(user) %>">
              <%= user.firstName + ' ' + user.lastName %>
            </a>
            <% } %>
            <% }) %>
          </td>
          <td>
            <%= bid.description %>
          </td>
          <td>
            <%= bid.status %>
          </td>
          <td>
            <%= bid.createdAt.toLocaleDateString("en-US") %>
          </td>
          <td>
            <% if (bid.status === 'open') { %>
            <form action="<%= getAcceptBidPath(bid) %>" method="post">
              <input type="hidden" name="_method" value="patch" />
              <input type="submit" class="defaultButtonSmaller" value="Aceptar" />
            </form>
            <%} %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>